body {
    background-color:#303030 ;
    color: #C8C8C8;
}

#about {
    width: 90%;
    margin: 20px auto;
    margin-top: 3%;
    margin-bottom: 100px;
}

#about img {
    width: 260px;
    border: 5px solid #000;
    border-radius: 8px;
    float: left;
    margin-right: 30px;
}

p {
    font-size: 1.2rem;
}

#skills img {
    width: 5%;
    margin: 20px 20px;
    margin-top: 3%;
}