body {
    background-color: #303030;
    color: #C8C8C8;
}

#about {
    width: 100%;
    margin: 20px auto;
    margin-top: 3%;
}

#about img {
    width: 260px;
    border: 5.5px solid #282828;
    border-radius: 8px;
    float: left;
    margin-right: 4%;
    margin-bottom: 0%;
    margin-left: 10%;
}
#about img:hover {
    border: 5.5px solid #0033be;
}
p {
    font-size: 1.2rem;
}


#bg {
  background-color: #282828;
  width: 100%;
  display: flex;
  justify-content: center;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 90%; /* Adjust this value as needed */
  max-width: 100%; /* Ensure the skills container doesn't exceed the parent container */
}

#skills img {
  width: 10%;
  margin: 3% 1.5%;
  border-radius: 33px;
  transition: 0.4s;
}

#skills img:hover {
  transform: scale(1.4);
  border: 3px solid #0033be;
}

#bottom {
    margin-top: 5%;
    margin-bottom: 6.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #bottom h1 {
    margin-bottom: 2.3rem;
    font-size:  2.8rem;
  }
  
  #bottom img {
    width: 29%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 33px;
    transition: 0.9s;
  }
  #bottom img:hover {
    transform: scale(1.6);
    border: 3px solid #0033be;
  }
  
  
#me {
    margin-top: 5%;
    margin-bottom: 15%;
   margin-right: 25%;
}
#me h1:hover {
 color:  #0033be;
}

#works {
    margin-top: 5%;
    margin-bottom: 15%;
   margin-right: 25%;
}

