body {
    background: rgb(72, 123, 123);
}

#about {
    width: 90%;
    margin: 10px auto;
}

#about img {
    width: 250px;
    border: 5px solid #000;
    border-radius: 8px;
    float: left;
    margin-right: 20px;
}

p {
    font-size: 1.2rem;
}