body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #C8C8C8;
}
#contact {
    margin: 19px auto;
    margin-top: 3%;
    width: 60%;
    text-align: center;
}
#links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
    
}
#links a {
    text-decoration: none;
    color: #C8C8C8;
}