body {
   font-family: Arial, Helvetica, sans-serif;
}
#work {
    margin: 19px auto;
    margin-top: 3%;
    width: 60%;
    text-align: center;
}

#appsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   margin-bottom: 90px;
}

#appsDiv .card:first-child {
    width: 100%;
    height: 50vh;
    margin-bottom: 60px;
}
#appsDiv .card {
    width: 48%;
    position: relative;
    margin: 20px 0px;
    margin-top: 40px;
}

.card img {
    width: 100%;
    height: 100%;
    border: 4px solid #000;
    border-radius: 8px;
    box-shadow: 9px -1px 20px 2px #000;
}

.card img:hover {
    opacity: .8;
    box-shadow: 9px -1px 20px 2px rgba(20, 172, 0, 0.432);
}

.card div {
    position: absolute;
    background: white;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    border: 4px solid #000;
    border-radius: 8px;
    opacity: .65;
    color: rgb(20, 172, 0);
}

h7 {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 5px;
}