body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    background: repeating-linear-gradient(35deg,silver 100px, black 150px);
    color: white;
    border-bottom: 5px solid #000;
    background-image: url('/public/download.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

nav h1 {
    background: teal;   
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
}

nav button {
    background: transparent;
    color: white;
    margin: 0 20px;
    font-size: 1.5rem;
    border: none;
    border-bottom: 5px solid white;
}