body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    /* background: repeating-linear-gradient(35deg,  gainsboro 80px, whitesmoke 150px); */
    background-color: lightsteelblue;
    color: white;
    border-bottom: 3px solid darkgray;
    /* background-image: url('/public/download.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    height: 6vh;
}

nav h1 {
    /* background: white;    */
    /* border: 2px solid black; */
    padding: 10px;
    border-radius: 8px;
    color: black;
}


nav button {
    background: transparent;
    color: black;
    margin: 0 20px;
    font-size: 1.5rem;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    /* border-bottom: 5px solid white; */
}

nav button:hover {
    color: white;
    border-bottom: 5px solid white;
}
nav h1:hover {
    
    color: gray;
    /* border-bottom: 5px solid white; */
}