body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    /* background: repeating-linear-gradient(35deg,  gainsboro 80px, whitesmoke 150px); */
    background-color: #282828;
    border-bottom: 3px solid #282828;
    /* background-image: url('/public/download.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    height: 6vh;
}

#first {
    padding: 10px;
    border-radius: 8px;
    color: #C8C8C8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
}

#first h1 {
    margin-bottom: 1px; /* Adjust the margin bottom as desired */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1.6rem;
}

#first h4 {
    margin-top: 1px; /* Adjust the margin top as desired */
    font-size: 13px;
    margin-bottom: 17px;
}

nav button {
    background: transparent;
    color: #C8C8C8;
    margin: 0 20px;
    font-size: 1.4rem;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border-bottom: 5px solid white; */
}

nav button:hover {
    color: rgb(20, 172, 0);
    padding: 8px;
    border-bottom: 5px solid rgb(20, 172, 0);
}
nav h1:hover {
    color: rgb(20, 172, 0);
    /* border-bottom: 5px solid white; */
}