#footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /* border-top: 2px solid #282828; */
}
#footer h2 {
    font-size: 20px;
    color: #C8C8C8;
}
#footer p {
    font-size: 16px;
    color: #C8C8C8;
}