#footer {
    background: repeating-linear-gradient(-35deg,silver 100px, black 150px);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    border-top: 5px solid #000;
}